.prod{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: auto;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
    border: 1px solid red;
    width: 100%;
    height:50px;
}
.nav input{
    width: 500px;
    height: 20px;
}