.nav{
    display: flex;
    justify-content: space-between;
 
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: #c11f22;
    position: fixed;
   z-index: 5000;
}
.navbelo{
    width: 100%;
    height: 80px;
    
}
.logo img{
    width: 300px;
    height: 50px;
   
    object-fit: cover;
    
}
.search input{
    width: 350px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}
.user{ 
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.user button{
    width: 100px;
    height: 35px;
    border: none;
    background-color: rgb(17, 15, 128);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.add{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: rgb(17, 15, 128);
  justify-content: flex-end;
  gap: 10px;
    align-items: center;
}
.add button{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #c11f22;
    color: white;
    height: 35px;
    border-radius: 5px;
    display: block;
  
    
}