.prod{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: auto;
}

.pagination{
    display: flex;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 50px;
}